@import url('https://fonts.googleapis.com/css?family=Amarante');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

label {
    font-family: 'Amarante', Tahoma, sans-serif;
    font-size: 20px !important;
}

.home {
    background: #eee url('https://i.imgur.com/eeQeRmk.png');
}

body {

    /* https://subtlepatterns.com/weave/ */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    line-height: 1;
    color: #ffffff;
}

::selection {
    background: #5f74a0;
    color: #fff;
}

::-moz-selection {
    background: #5f74a0;
    color: #fff;
}

::-webkit-selection {
    background: #5f74a0;
    color: #fff;
}

br {
    display: block;
    line-height: 1.6em;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

input,
textarea {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

strong,
b {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    max-width: 100%;
}

h1 {
    font-family: 'Amarante', Tahoma, sans-serif;
    font-weight: bold;
    font-size: 3.6em;
    line-height: 1.7em;
    margin-bottom: 10px;
    text-align: center;
}


/** page structure **/
#wrapper {
    display: block;
    width: 100%;
    background: #fff;
    margin: 0 auto;
    padding: 10px 17px;
    /* -webkit-box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.35); */
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

#keywords {
    margin: 0 auto;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.table>thead>tr>th {
    border-bottom-width: 1px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff6f6;
    font-weight: 400;
    padding-bottom: 5px;
    border-top: none !important;
    border-bottom: none;
    text-align: left !important;
}

#keywords thead {
    cursor: pointer;
}

#keywords thead tr th {
    font-family: 'Amarante', Tahoma, sans-serif;
    width: 200px;
    font-weight: bold;
}

#keywords thead tr th span {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp,
#keywords thead tr th.headerSortDown {
    background: #acc8dd;
}


#keywords tbody tr {
    color: #555;
}

#keywords tbody tr td {
    font-family: 'Amarante', Tahoma, sans-serif;
    text-align: left;
    padding: 15px 10px;
}

#keywords tbody tr:hover {
    font-family: 'Amarante', Tahoma, sans-serif;
    text-align: left;
    padding: 15px 10px;
    background-color: #8eaff6;
}

#keywords tbody tr td.lalign {
    text-align: left;
}